@page "/grocery-home"

<style>
    .card-style {
        border-radius: 20px;
    }

    .card-style-1 {
        background-image: url(/images/grocery/1.jpg);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 20px;
    }

    .card-style-2 {
        background-image: url(/images/grocery/2.jpg);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 20px;
    }

    .card-style-3 {
        background-image: url(/images/grocery/3.jpg);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 20px;
    }

    .card-style-4 {
        background-image: url(/images/grocery/4.jpg);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 20px;
    }

    .card-style-5 {
        background-image: url(/images/grocery/5.jpg);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 20px;
    }

    .card-style-6 {
        background-image: url(/images/grocery/6.jpg);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 20px;
    }

    .card-style-7 {
        background-image: url(/images/grocery/7.jpg);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 20px;
    }

    .card-style-8 {
        background-image: url(/images/grocery/8.jpg);
        background-size: cover !important;
        background-position: center center !important;
        border-radius: 20px;
    }

    .card-hero {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
</style>

<MudPaper Elevation="3" Class="px-4 mx-n4 mt-n8 pt-5 pb-15 mud-theme-primary" Style="border-radius: 0px 0px 30px 30px;" Outlined="false">
    <MudGrid>
        <MudItem xs="12">
            <MudPaper Elevation="0" Class="d-flex flex-row px-2 mx-2" Style="background-color: var(--mud-palette-background-grey);border-radius: 25px;margin-top:10px; height: 50px">
                <MudTextField T="string" Placeholder="Enter fruit name..." Margin="Margin.Dense"
                Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary"
                Underline ="false" Class="py-2 mt-n3 mx-4"/>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudPaper>

<MudGrid Class="pt-5">
    <MudItem xs="12">
        <div class="hz-container mt-n15">
                <MudCard Elevation="0" Class="mr-5 mud-theme-primary card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-1" Style="height: 400px; width: 280px;">
                        <div class="d-flex justify-space-between">
                                <MudText></MudText>
                                <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Class="rounded-lg" Variant="Variant.Filled" Style="background-color: var(--mud-palette-surface);color: var(--mud-palette-secondary)"/>
                        </div>
                        <MudPaper Class="ma-n2 pa-3 rounded-lg">
                             <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">Fresh Cranberries</MudText>
                             <MudText Typo="Typo.body2">Locally grown and fresh...</MudText>
                             <div class="d-flex mt-2 justify-space-between">
                                 <MudText Typo="Typo.h6" Style="font-weight: 600;" Color="@Color.Default">$23.99</MudText>
                                 <MudButton Class="align-self-center rounded-lg" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small">Add to bag</MudButton>
                             </div>
                         </MudPaper>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="0" Class="mr-5 mud-theme-primary  card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-2" Style="height: 400px; width: 280px;">
                        <div class="d-flex justify-space-between">
                                <MudText></MudText>
                                <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Class="rounded-lg" Variant="Variant.Filled" Style="background-color: var(--mud-palette-surface);color: var(--mud-palette-secondary)"/>
                        </div>
                        <MudPaper Class="ma-n2 pa-3 rounded-lg">
                             <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">American Tomatoes</MudText>
                             <MudText Typo="Typo.body2">Locally grown and fresh...</MudText>
                             <div class="d-flex mt-2 justify-space-between">
                                 <MudText Typo="Typo.h6" Style="font-weight: 600;" Color="@Color.Default">$23.99</MudText>
                                 <MudButton Class="align-self-center rounded-lg" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small"> Add to bag </MudButton>
                             </div>
                         </MudPaper>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="0" Class="mr-5 mud-theme-primary  card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-3" Style="height: 400px; width: 280px;">
                        <div class="d-flex justify-space-between">
                                <MudText></MudText>
                                <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Class="rounded-lg" Variant="Variant.Filled" Style="background-color: var(--mud-palette-surface);color: var(--mud-palette-secondary)"/>
                        </div>
                        <MudPaper Class="ma-n2 pa-3 rounded-lg">
                             <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">Red Fruits</MudText>
                             <MudText Typo="Typo.body2">Locally grown Blackberries.</MudText>
                             <div class="d-flex mt-2 justify-space-between">
                                 <MudText Typo="Typo.h6" Style="font-weight: 600;" Color="@Color.Default">$23.99</MudText>
                                 <MudButton Class="align-self-center rounded-lg" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small"> Add to bag </MudButton>
                             </div>
                         </MudPaper>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="0" Class="mr-5  mud-theme-primary card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-4" Style="height: 400px; width: 280px;">
                        <div class="d-flex justify-space-between">
                                <MudText></MudText>
                                <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Class="rounded-lg" Variant="Variant.Filled" Style="background-color: var(--mud-palette-surface);color: var(--mud-palette-secondary)"/>
                        </div>
                        <MudPaper Class="ma-n2 pa-3 rounded-lg">
                             <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">Red Valley Cucumbers</MudText>
                             <MudText Typo="Typo.body2">Locally grown Blackberries.</MudText>
                             <div class="d-flex mt-2 justify-space-between">
                                 <MudText Typo="Typo.h6" Style="font-weight: 600;" Color="@Color.Default">$23.99</MudText>
                                 <MudButton Class="align-self-center rounded-lg" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small"> Add to bag </MudButton>
                             </div>
                         </MudPaper>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="0" Class=" mud-theme-primary card-style">
                    <MudCardContent Class="d-flex flex-column justify-space-between card-style-5" Style="height: 400px; width: 280px;">
                        <div class="d-flex justify-space-between">
                                <MudText></MudText>
                                <MudIconButton Icon="@Icons.Material.TwoTone.Favorite" Class="rounded-lg" Variant="Variant.Filled" Style="background-color: var(--mud-palette-surface);color: var(--mud-palette-secondary)"/>
                        </div>
                        <MudPaper Class="ma-n2 pa-3 rounded-lg">
                             <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">Amarican Grape</MudText>
                             <MudText Typo="Typo.body2">Locally grown Blackberries.</MudText>
                             <div class="d-flex mt-2 justify-space-between">
                                 <MudText Typo="Typo.h6" Style="font-weight: 600;" Color="@Color.Default">$23.99</MudText>
                                 <MudButton Class="align-self-center rounded-lg" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small"> Add to bag </MudButton>
                             </div>
                         </MudPaper>
                    </MudCardContent>
                </MudCard>
        </div>
    </MudItem>
</MudGrid>

<MudGrid Class="my-5" Spacing="2">
    <MudItem xs="6" sm="6" md="6">
        <MudCard Elevation="0" Class="mud-theme-primary card-style">
                <MudCardContent Class="d-flex flex-column justify-space-between card-style-4" Style="height: 380px;">
                    <div class="d-flex justify-space-between">
                            <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.TwoTone.Favorite" Size="Size.Medium" Class="rounded-lg" Variant="Variant.Filled" Style="background-color: var(--mud-palette-surface);color: var(--mud-palette-secondary)"></MudIconButton>
                            <MudText />
                    </div>
                    <MudPaper Class="ma-n2 pa-3 rounded-lg">
                        <MudChip T="string" Class="rounded-lg" Label="true" Color="Color.Error" Size="Size.Small" Variant="Variant.Filled">30% OFF</MudChip>
                        <MudText Class="mt-2" Typo="Typo.subtitle1" Style="font-weight: 500; line-height:1.2">Red Valley Cucumbers</MudText>
                        <MudText Class="mt-2" Typo="Typo.subtitle1" Style="font-weight: 600;">$3.50</MudText>
                    </MudPaper>
                </MudCardContent>
        </MudCard>
    </MudItem>
    <MudItem xs="6" sm="6" md="6">
        <MudCard Elevation="0" Class="mud-theme-primary card-style">
                <MudCardContent Class="d-flex flex-column justify-space-between card-style-5" Style="height: 185px;">
                    <div class="d-flex justify-space-between">
                    </div>
                    <MudPaper Class="ma-n2 pa-3 rounded-lg">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500; line-height:1.2">Sweet Peaches</MudText>
                        <MudText Class="mt-2" Typo="Typo.subtitle1" Style="font-weight: 600;">$5.35</MudText>
                    </MudPaper>
                </MudCardContent>
        </MudCard>
        <MudCard Elevation="0" Class="mt-3 mud-theme-primary card-style">
                <MudCardContent Class="d-flex flex-column justify-space-between card-style-1" Style="height: 185px;">
                    <div class="d-flex justify-space-between">
                    </div>
                    <MudPaper Class="ma-n2 pa-3 rounded-lg">
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500; line-height:1.2">Fresh Grapes</MudText>
                        <MudText Class="mt-2" Typo="Typo.subtitle1" Style="font-weight: 600;">$7.55</MudText>
                    </MudPaper>
                </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<MudCard Elevation="1" Outlined="false" Class="my-5 mud-theme-primary card-style">
        <MudCardContent Class="d-flex flex-column justify-space-between card-style-8" Style="height: 350px; width: 100%;">
              <div class="d-flex justify-space-between">
                  <MudIconButton Color="Color.Primary" Icon="@Icons.Material.TwoTone.ShoppingBasket" Class="rounded-lg"  Size="Size.Medium" Variant="Variant.Filled"></MudIconButton>
                  <MudChip T="string" Icon="@Icons.Material.Filled.Star" Label="true" Class="rounded-lg" Color="Color.Error" Style="color:white;" Size="Size.Small">Recommended For You</MudChip>
              </div>
             <MudPaper Class="rounded-lg pa-3 ma-n2">
                 <MudText Typo="Typo.subtitle1" Style="font-weight: 500;">Locally grown Blackberries.</MudText>
                 <MudText Class="align-self-center" Typo="Typo.body2">Grown with great care on our local fields by expert handlers to create a perfect taste.</MudText>
             </MudPaper>                     
        </MudCardContent>
</MudCard>

<MudPaper Elevation="0" Class="px-4 mx-n4 my-5 py-5 mud-theme-primary" Outlined="false" Square="true">
    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;">You Might Like These</MudText>
    <MudText Typo="Typo.body2" Style="font-weight: 500;">Check out the best news categories based on your browsing habbits. We have a few for you.</MudText>

    <div class="hz-container pb-3 pt-5">
        <MudCard Elevation="1" Outlined="false" Class="rounded-lg mr-3">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column">
                <MudImage Src="/images/grocery/sm/2.png" Class="align-self-center" Height="90"></MudImage>
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Strawberries</MudText>
                <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Organic Foods</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="1" Outlined="false" Class="rounded-lg mr-3">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column">
                <MudImage Src="/images/grocery/sm/4.png" Class="align-self-center" Height="90"></MudImage>
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Iceberg Salad</MudText>
                <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Organic Foods</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="1" Outlined="false" Class="rounded-lg mr-3">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column">
                <MudImage Src="/images/grocery/sm/3.png" Class="align-self-center" Height="90"></MudImage>
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Red UI Onions</MudText>
                <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Organic Foods</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="1" Outlined="false" Class="rounded-lg mr-3">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column">
                <MudImage Src="/images/grocery/sm/1.png" Class="align-self-center" Height="90"></MudImage>
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">American Tomatoes</MudText>
                <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Organic Foods</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="1" Outlined="false" Class="rounded-lg mr-3">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column">
                <MudImage Src="/images/grocery/sm/1.png" Class="align-self-center" Height="90"></MudImage>
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Strawberries</MudText>
                <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Organic Foods</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="1" Outlined="false" Class="rounded-lg mr-3">
            <MudCardContent Style="width: 160px;" Class="d-flex flex-column">
                <MudImage Src="/images/grocery/sm/2.png" Class="align-self-center" Height="90"></MudImage>
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Style="font-weight: 500;" Class="align-self-center" Color="@Color.Surface">Strawberries</MudText>
                <MudText Typo="Typo.caption" Class="align-self-center" Align="Align.Center" Color="@Color.Default">Organic Foods</MudText>
            </MudCardContent>
        </MudCard>
    </div>
</MudPaper>
@code {
    protected override async Task OnInitializedAsync()
    {
        
    }

    public void NavigateToShoppingPage()
    {
        _navigationManager.NavigateTo("/grocery/products-2");
    }
}