@page "/app-styles"

@if (!_loaded)
{
    <Spinner></Spinner>
}
else
{
<MudGrid Class="pt-0 mb-3">
    <MudItem xs="12">
        <MudCard Elevation="25" Class="rounded-lg">
            <MudCardContent>
                <MudText Color="Color.Default" Align="Align.Left" Typo="Typo.body2" Style="font-weight: 400;">Pages styled to feel like Classic Site Pages or App Styled Pages. These are all highly flexible and incredibly easy to use and edit.</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<MudCard Elevation="25" Class="rounded-lg mb-3">
    <MudCardContent>
        <MudGrid Spacing="0">
            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between" Style="background-color: transparent" @onclick="@(() => WelcomePage())">
                    <div class="d-flex">
                            <MudIcon Icon="@Icons.Material.Filled.Rocket" Color="Color.Secondary" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Welcome Page </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between" Style="background-color: transparent" @onclick="@(() => SignInPage())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.Login" Color="Color.Tertiary" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Login </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between" Style="background-color: transparent" @onclick="@(() => SignUpPage())">
                    <div class="d-flex">
                            <MudIcon Icon="@Icons.Material.Filled.PersonAdd" Color="Color.Warning" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Register </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between" Style="background-color: transparent" @onclick="@(() => ResetPasswordPage())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.LockOpen" Color="Color.Secondary" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Forgot Password </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between" Style="background-color: transparent" @onclick="@(() => BlogsHome())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.Newspaper" Color="Color.Success" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Blogs App </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between " Style="background-color: transparent" @onclick="@(() => CommerceHome())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.ShoppingBag" Color="Color.Error" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> E-Commerce App </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between " Style="background-color: transparent" @onclick="@(() => GroceryHome())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.ShoppingBasket" Color="Color.Tertiary" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Store App </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between " Style="background-color: transparent" @onclick="@(() => HealthHome())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.MedicalServices" Color="Color.Primary" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Medical App </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between " Style="background-color: transparent" @onclick="@(() => LearningHome())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.MenuBook" Color="Color.Info" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Learning App </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between " Style="background-color: transparent" @onclick="@(() => ProjectsHome())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.AddTask" Color="Color.Secondary" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Projects App </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between " Style="background-color: transparent" @onclick="@(() => TravelsHome())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.AirplaneTicket" Color="Color.Primary" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Travels App </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between " Style="background-color: transparent" @onclick="@(() => WalletHome())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Color="Color.Tertiary" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Wallet App </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between " Style="background-color: transparent" @onclick="@(() => AccountPage())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Success" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Account </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudDivider></MudDivider>
            </MudItem>

            <MudItem xs="12" sm="12" md="12">
                <MudCard Elevation="0" Class="d-flex flex-row justify-space-between " Style="background-color: transparent" @onclick="@(() => StorePage())">
                    <div class="d-flex">
                        <MudIcon Icon="@Icons.Material.Filled.Map" Color="Color.Error" Class="mx-0 my-5 align-self-center" Size="Size.Small"></MudIcon>
                        <MudText Typo="Typo.subtitle1" Style="font-weight: 500;" Class="mx-5 align-self-center" Color="@Color.Default"> Store Locations </MudText>
                    </div>
                    <MudIcon Icon="fal fa-angle-right" Color="Color.Default" Class="align-self-center" Size="Size.Small"></MudIcon>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudCardContent>
</MudCard>
}
@code {
    private bool _loaded;
    protected override async Task OnInitializedAsync()
    {
        
        _loaded = true;
    }

    public void WelcomePage()
    {
        _navigationManager.NavigateTo("/walkthrough-welcome");
    }

    public void SignInPage()
    {
        _navigationManager.NavigateTo("/pages/sign-in");
    }

    public void SignUpPage()
    {
        _navigationManager.NavigateTo("/pages/sign-up");
    }

    public void ResetPasswordPage()
    {
        _navigationManager.NavigateTo("/pages/forgot-password");
    }
    public void BlogsHome()
    {
        _navigationManager.NavigateTo("/blogs-home1");
    }

    public void CommerceHome()
    {
        _navigationManager.NavigateTo("/dashboard-commerce");
    }

    public void GroceryHome()
    {
        _navigationManager.NavigateTo("/grocery-home");
    }

    public void HealthHome()
    {
        _navigationManager.NavigateTo("/dashboard-health");
    }

    public void LearningHome()
    {
        _navigationManager.NavigateTo("/learning-home1");
    }

    public void ProjectsHome()
    {
        _navigationManager.NavigateTo("/project-home1");
    }

    public void TravelsHome()
    {
        _navigationManager.NavigateTo("/travel/home");
    }

    public void WalletHome()
    {
        _navigationManager.NavigateTo("/dashboard-wallet");
    }

    public void AccountPage()
    {
        _navigationManager.NavigateTo("/profile1");
    }

    public void StorePage()
    {
        _navigationManager.NavigateTo("/stores");
    }
}