@page "/team"

<MudPaper Elevation="3" Height="150" Class="px-4 mx-n4 mt-n10 pt-10 mud-theme-primary" Style="border-radius: 0px 0px 45px 45px;" Outlined="false">
    <MudPaper Elevation="0" Class="py-6" Style="background-color: transparent">

    </MudPaper>
</MudPaper>

<MudGrid Class="mt-n15 pt-0 mb-3">
    <MudItem xs="12">
        <MudCard Elevation="1" Class="rounded-lg">
            <MudCardContent>
                <div class="d-flex mb-3">
                    <MudAvatar Style="height: 60px; width: 60px;">
                        <MudImage Src="images/pictures/faces/4s.png" />
                    </MudAvatar>
                    <div class="mx-3 align-self-center">
                        <MudText Color="Color.Default" Typo="Typo.h6" Style="font-weight: 700;">Alex Bruno</MudText>
                        <MudText Color="Color.Primary" Typo="Typo.caption" Style="font-weight: 500;">Project Manager</MudText>
                    </div>
                </div>
                <MudText Typo="Typo.body2">We care about all our customers and we give 150% attention to detail for perfect quality.</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

<MudCard Elevation="1" Class="rounded-lg mb-5 py-3">
    <MudCardContent>
        <MudPaper Elevation="0" Class="d-flex justify-space-between rounded-lg">
            <div class="d-flex ">
                <MudAvatar Class="align-self-center" Style="height: 50px; width: 50px;">
                    <MudImage Src="images/pictures/1s.png" />
                </MudAvatar>
                <div class="mx-3 align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">John Doe</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Graphic Designer </MudText>
                </div>
            </div>
            <div class="align-self-center">
                <MudChip T="string" Class="align-self-center" Label="true" Size="Size.Small" Color="Color.Primary">Info</MudChip>
            </div>
        </MudPaper>

        <MudDivider Class="my-3"></MudDivider>

        <MudPaper Elevation="0" Class="d-flex justify-space-between rounded-lg">
            <div class="d-flex ">
                <MudAvatar Class="align-self-center" Style="height: 50px; width: 50px;">
                    <MudImage Src="images/pictures/2s.png" />
                </MudAvatar>
                <div class="mx-3 align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Dennis Vincent</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Backend Developer </MudText>
                </div>
            </div>
            <div class="align-self-center">
                <MudChip T="string" Class="align-self-center" Label="true" Size="Size.Small" Color="Color.Primary">Info</MudChip>
            </div>
        </MudPaper>

        <MudDivider Class="my-3"></MudDivider>

        <MudPaper Elevation="0" Class="d-flex justify-space-between rounded-lg">
            <div class="d-flex ">
                <MudAvatar Class="align-self-center" Style="height: 50px; width: 50px;">
                    <MudImage Src="images/pictures/4s.png" />
                </MudAvatar>
                <div class="mx-3 align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Donald Steve</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Architecture Engineer </MudText>
                </div>
            </div>
            <div class="align-self-center">
                <MudChip T="string" Class="align-self-center" Label="true" Size="Size.Small" Color="Color.Primary">Info</MudChip>
            </div>
        </MudPaper>

        <MudDivider Class="my-3"></MudDivider>

        <MudPaper Elevation="0" Class="d-flex justify-space-between rounded-lg">
            <div class="d-flex">
                <MudAvatar Class="align-self-center" Style="height: 50px; width: 50px;">
                    <MudImage Src="images/pictures/5s.png" />
                </MudAvatar>
                <div class="mx-3 align-self-center">
                    <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="@Color.Default">Alexander Bell</MudText>
                    <MudText Typo="Typo.caption" Style="font-weight: 300;" Color="@Color.Primary" Class="mud-text-primary">Tester </MudText>
                </div>
            </div>
            <div class="align-self-center">
                <MudChip T="string" Class="align-self-center" Label="true" Size="Size.Small" Color="Color.Primary">Info</MudChip>
            </div>
        </MudPaper>
    </MudCardContent>
</MudCard>

<MudCard Elevation="1" Class="rounded-lg mb-5">
    <MudCardContent>
        <MudText Typo="Typo.h6" Style="font-weight: 500;" Color="Color.Primary"> User Groups </MudText>
        <MudText Typo="Typo.caption"> You can also create user groups, which can be linked to the user list above. It's simple and very intuitive. </MudText>

        <div class="d-flex mt-3">
            <div class="d-flex flex-column justify-center">
                <MudAvatar Class="align-self-center" Size="Size.Large">
                    <MudImage Src="/images/pictures/faces/1s.png" />
                </MudAvatar>
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="font-weight: 600;" Color="Color.Default">Vincent M.</MudText>
                <MudText Align="Align.Center" Typo="Typo.caption" Color="Color.Success">Group Manager</MudText>
            </div>
            <div class="mx-3">
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="Color.Default">Account & Billing</MudText>
                <MudText Align="Align.Center" Typo="Typo.caption" Color="Color.Success">MON - FRI, 09AM - 05PM</MudText>
                <MudAvatarGroup Class="mt-3" Max="4" Spacing="3" MaxColor="Color.Success">
                    <MudAvatar>
                        <MudImage Src="/images/pictures/faces/1s.png" />
                    </MudAvatar>
                    <MudAvatar>
                        <MudImage Src="/images/pictures/faces/2s.png" />
                    </MudAvatar>
                    <MudAvatar>
                        <MudImage Src="/images/pictures/faces/3s.png" />
                    </MudAvatar>
                    <MudAvatar>
                        <MudImage Src="/images/pictures/faces/4s.png" />
                    </MudAvatar>
                    <MudAvatar>
                        <MudImage Src="/images/pictures/5s.png" />
                    </MudAvatar>
                </MudAvatarGroup>
            </div>
        </div>

        <MudDivider Class="my-3"></MudDivider>

        <div class="d-flex">
            <div class="d-flex flex-column justify-center">
                <MudAvatar Class="align-self-center" Size="Size.Large">
                    <MudImage Src="/images/pictures/1s.png" />
                </MudAvatar>
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="font-weight: 600;" Color="Color.Default">Diesel T.</MudText>
                <MudText Align="Align.Center" Typo="Typo.caption" Color="Color.Tertiary">Group Manager</MudText>
            </div>
            <div class="mx-3">
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="Color.Default">Design & Development</MudText>
                <MudText Align="Align.Center" Typo="Typo.caption" Color="Color.Tertiary">MON - FRI, 09AM - 05PM</MudText>
                <MudAvatarGroup Class="mt-3" Max="4" Spacing="3" MaxColor="Color.Tertiary">
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/1s.png" />
                    </MudAvatar>
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/2s.png" />
                    </MudAvatar>
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/4s.png" />
                    </MudAvatar>
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/5s.png" />
                    </MudAvatar>
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/faces/4s.png" />
                    </MudAvatar>
                </MudAvatarGroup>
            </div>
        </div>

        <MudDivider Class="my-3"></MudDivider>

        <div class="d-flex">
            <div class="d-flex flex-column justify-center">
                <MudAvatar Class="align-self-center" Size="Size.Large">
                    <MudImage Src="/images/pictures/5s.png" />
                </MudAvatar>
                <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="font-weight: 600;" Color="Color.Default">Johnatan D.</MudText>
                <MudText Align="Align.Center" Class="" Typo="Typo.caption" Color="Color.Info">Group Manager</MudText>
            </div>
            <div class="mx-3">
                <MudText Typo="Typo.subtitle1" Style="font-weight: 600;" Color="Color.Default">Support Staff Team</MudText>
                <MudText Align="Align.Center" Typo="Typo.caption" Color="Color.Info">MON - FRI, 09AM - 05PM</MudText>
                <MudAvatarGroup Class="mt-3" Max="4" Spacing="3" MaxColor="Color.Info">
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/5s.png" />
                    </MudAvatar>
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/faces/4s.png" />
                    </MudAvatar>
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/faces/3s.png" />
                    </MudAvatar>
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/faces/2s.png" />
                    </MudAvatar>
                    <MudAvatar Class="align-self-center">
                        <MudImage Src="/images/pictures/faces/1s.png" />
                    </MudAvatar>
                </MudAvatarGroup>
            </div>
        </div>
    </MudCardContent>
</MudCard>
@code {
    protected override async Task OnInitializedAsync()
    {

    }
}